.site-header {
    transition: opacity .3s ease-in-out;
    opacity: 0;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .22);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .22);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .36);

    &.visible {
        opacity: 1;
    }

    &.static {
        position: relative;
        opacity: 1;
    }

    &__container {
        height: $header-height;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__navigation {
        display: flex;
    }

    &__navigation-button {
        position: relative;
        transition: all .2s ease-out;
        background: none;
        border: none;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        color: #000000;
        margin-left: 10px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: .1em;

        &:hover {
            color: $c-orange;
        }

        &.active {
            color: $c-orange;
        }
    }

    &__hamburger-btn {
        position: relative;
        z-index: 3;
        width: 25px;
        display: none;

        @include when-less-than($grid-tablet) {
            display: block;
        }

        .line1 {
            transition: all .1s;
            width: 100%;
            height: rem(3px);
            background-color: #4A4A4A;
        }

        .line2 {
            width: 100%;
            height: rem(3px);
            background-color: #4A4A4A;
            margin: 6px 0;
        }

        .line3 {
            transition: all .1s;
            width: 100%;
            height: rem(3px);
            background-color: #4A4A4A;
        }

        &.open {
            .line1 {
                transform: rotate(-45deg) translateY(6px) translateX(-7px);
            }

            .line2 {
                opacity: 0;
            }

            .line3 {
                transform: rotate(45deg) translateY(-6px) translateX(-7px);
            }
        }
    }

    @include when-less-than($grid-tablet) {
        &__navigation {
            transition: all .3s;
            position: fixed;
            flex-direction: column;
            top: 80px;
            left: 0;
            width: 100%;
            opacity: 0;
            pointer-events: none;

            &.open {
                opacity: 1;
                pointer-events: all;
            }
        }

        &__navigation-button {
            padding: 15px 0;
            background-color: #2F2F2F;
            margin: 0;
            color: #FFFFFF;
            border-top: 1px solid #4C4B4B;
        }
    }
}
